
.btn {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    margin: 5px auto;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    height: 38px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn.sm {
    padding: 5px 10px;
    font-size: 14px;
}

@media all and (min-width: 663px) {
    .btn {
        width: 240px;
    }

    .btn.sm {
        width: 150px;
    }
}

.default {
    background: linear-gradient(#fff, #eee 35%);
    border: 1px solid #eee;
    color: #333;
}

.default.flat {
    background: #eee;
}

.default:active {
    background: linear-gradient(#fff, #eee 35%);
}

.default.flat:active {
    background: #ccc;
}

.primary {
    background: linear-gradient(#e06968, #CC0000 35%);
    border: 1px solid #CC0000;
}

.primary.flat {
    background: #CC0000;
}

.primary:active {
    background: linear-gradient(#e06968, #AA0000 35%);
}

.primary.flat:active {
    background: #AA0000;
}

.secondary {
    background: linear-gradient(#666, #000 35%);
    border: 1px solid #000;
}

.secondary.flat {
    background: #000;
}

.secondary:active {
    background: linear-gradient(#666, #222 35%);
}

.secondary.flat:active {
    background: #222;
}
