.reviewPanel {
    background: #eee;
    padding: 20px;
    margin-bottom: 45px;
}

.stackedPanel {
    background: #eee;
    padding: 20px;
    margin-bottom: 15px;
}

.flexWrapper {
    display: flex;
    justify-content: space-between;
}

.overall {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
    font-weight: bold;
}

.stackedOverall {
    font-weight: bold;
}

.viewAll {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 14px;
    font-weight: bold;
}

.stackedViewAll {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 32px;
    font-weight: bold;
}

.container {
    width: 45%
}
