.divider {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0;
    padding: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;
}

.divider::after {
    background: #cbcbcb;
}

.verticalDivider {
    margin: auto 15px;
    height: 35px;
    width: 3px;
    background: #cbcbcb;
}
