.button {
    color: #ccc;
    font-size: 28px;
    display: inline-block;
    cursor: pointer;
}

.button:active,
.button:hover {
    color: #aaa;
}

.disabled,
.disabled:active,
.disabled:hover {
    color: #ccc;
    cursor: not-allowed;
}

.count {
    font-size: 24px;
    margin: 0 10px;
}

.text {
    color: #333;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 15px;
}

@media all and (min-width: 415px) {
    .quantity {
        width: 232px;
    }
}

.actionWrapper {
    display: flex;
    margin-bottom: -7px;
}
