.loading {
    height: 30px;
    vertical-align: middle;
    animation: flip infinite 500ms linear;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
