.arrow {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 34px;
    background: none;
    border: none;
    cursor: pointer;
}

@media all and (min-width: 663px) {
    .arrow {
        margin-top: 22px;
    }
}
