.viewPolicy {
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.disclaimer {
    font-size: 14px;
}
