
.App {
    min-width: 300px;
    margin: 0 15px;
}

@media all and (min-width: 415px) {
    .App {
        margin: 0 55px;
    }
}

.centered {
    text-align: center;
}

.activeImage {
    margin: 45px 0;
}

.alignTop {
    margin-top: 40px;
}
